<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icono.ico') }}" type="image/x-icon">
</head>

<script>
        function addToCart(productName, productPrice) {
            let cartItems = JSON.parse(localStorage.getItem('cartItems')) || [];
            cartItems.push({ name: productName, price: productPrice });
            localStorage.setItem('cartItems', JSON.stringify(cartItems));
            alert(productName + ' ha sido añadido al carrito.');
        }
    </script>
    
<body>
    <header>
        <nav class="navbar">
            <div class="logo">FARMACIAS</div>
            <ul class="nav-links">
                <li><a href="{{ url_for('home') }}">Inicio</a></li>
                <li><a href="{{ url_for('login') }}">Iniciar Sesión</a></li>
                <li><a href="{{ url_for('register') }}">Registro</a></li>
                <li><a href="{{ url_for('products') }}">Productos</a></li>
                <li><a href="{{ url_for('cart') }}">Carrito</a></li>
                <li><a href="{{ url_for('contact') }}">Contacto</a></li>
            </ul>
            <div class="menu-toggle" id="mobile-menu">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
    </header>
    

    <div class="tabs fixed-bar">
        <button class="tab-button" onclick="showTab('farmacia')">Medicamentos</button>
        <button class="tab-button" onclick="showTab('cosmetica')">Cosmética</button>
        <button class="tab-button" onclick="showTab('higiene')">Higiene</button>
        <button class="tab-button" onclick="showTab('nutricion')">Nutrición</button>
        <button class="tab-button" onclick="showTab('bebe')">Bebé</button>
    </div>
 
    <section id="products" class="products-section">
        <div id="bienvenida" class="tab-content">
            <h2>Bienvenido a la sección de productos</h2>
            <p>Selecciona una categoría para ver los productos disponibles.</p>
            <p>¡Explora y encuentra lo que necesitas!</p>
            <img src="{{ url_for('static', filename='img/bienvenida.jpg') }}"  style="width: 100px; height: 100px;">
            <img src="{{ url_for('static', filename='img/productos.jpg') }}" alt="Farmacia" style="width: 100px; height: 100px;">
            <p>Si tienes alguna duda, no dudes en contactarnos.</p>
            <p>¡Gracias por elegirnos!</p>
        </div>
    
        <div id="farmacia" class="tab-content" style="display:none;">
            <h2>Medicamentos</h2>
            <p>Bienvenido a la sección de medicamentos. Aquí encontrarás una variedad de productos farmacéuticos.</p>
            <!-- Productos de Farmacia -->
            <div class="product">
                <h3>Ibuprofeno</h3>
                <img src="{{ url_for('static', filename='img/ibuprofeno.jpg') }}" alt="Producto 1" style="width: 100px; height: 100px;">
                <p>Precio: 2,70€</p>
                <button onclick="addToCart('Ibuprofeno', 2.70)">Añadir al carrito</button>
            </div>
            <div class="product">
                <h3>Paracetamol</h3>
                <img src="{{ url_for('static', filename='img/paracetamol.jpg') }}" alt="Producto 2" style="width: 100px; height: 100px;">
                <p>Precio: 0,80€</p>
                <button onclick="addToCart('Paracetamol', 0.80)">Añadir al carrito</button>
            </div>
            <div class="product">
                <h3>Enantyum</h3>
                <img src="{{ url_for('static', filename='img/enantyum.jpg') }}" alt="Producto 3" style="width: 100px; height: 100px;">
                
                <p>Precio: 2,50€</p>
                <button onclick="addToCart('Enantyum', 2.50)">Añadir al carrito</button>
            </div>
        </div>
    
        <div id="cosmetica" class="tab-content" style="display:none;">
            <h2>Cosmética</h2>
            <p>Bienvenido a la sección de cosmética. Aquí encontrarás una variedad de productos para el cuidado.</p>
            <!-- Productos de Cosmética -->
            <div class="product">
                <h3>Revitalizante</h3>
                <img src="{{ url_for('static', filename='img/revitalizante.jpg') }}" alt="Producto 1" style="width: 100px; height: 100px;">
                <p>Precio: 10.00€</p>
                <button onclick="addToCart('Revitalizante', 10.00)">Añadir al carrito</button>
            </div>
            <div class="product">
                <h3>Hipoalergenica</h3>
                <img src="{{ url_for('static', filename='img/hipoalergenica.jpg') }}" alt="Producto 2" style="width: 100px; height: 100px;">
                <p>Precio: 15.00€</p>
                <button onclick="addToCart('Hipoalergenica', 15.00)">Añadir al carrito</button>
            </div>
            <div class="product">
                <h3>Hidratante</h3>
                <img src="{{ url_for('static', filename='img/renovadora.jpg') }}" alt="Producto 3" style="width: 100px; height: 100px;">
                
                <p>Precio: 12.00€</p>
                <button onclick="addToCart('Hidratante', 12.00)">Añadir al carrito</button>
            </div>
        </div>
    
        <div id="higiene" class="tab-content" style="display:none;">
            <h2>Higiene</h2>
            <p>Bienvenido a la sección de higiene. Aquí encontrarás una variedad de productos para el cuidado personal.</p>
            <!-- Productos de Higiene -->
            <div class="product">
                <h3>Flúor</h3>
                <img src="{{ url_for('static', filename='img/fluor.jpg') }}" alt="Producto 1" style="width: 100px; height: 100px;">
                <p>Precio: 4.50€</p>
                <button onclick="addToCart('Flúor', 4.50)">Añadir al carrito</button>
            </div>
            <div class="product">
                <h3>Champú</h3>
                <img src="{{ url_for('static', filename='img/champu.jpg') }}" alt="Producto 2" style="width: 100px; height: 100px;">
                <p>Precio: 4.20€</p>
                <button onclick="addToCart('Champú', 4.20)">Añadir al carrito</button>
            </div>
            <div class="product">
                <h3>Pasta de dientes</h3>
                <img src="{{ url_for('static', filename='img/dentrifico.jpg') }}" alt="Producto 2" style="width: 100px; height: 100px;">
                <p>Precio: 3.65€</p>
                <button onclick="addToCart('Pasta de dientes', 3.65)">Añadir al carrito</button>
            </div>
        </div>
    
        <div id="nutricion" class="tab-content" style="display:none;">
            <h2>Nutrición</h2>
            <p>Bienvenido a la sección de nutrición. Aquí encontrarás una variedad de productos para el cuidado nutricional.</p>
            <!-- Productos de Nutrición -->
            <div class="product">
                <h3>Magnesio</h3>
                <img src="{{ url_for('static', filename='img/nutricion.jpg') }}" alt="Producto 1" style="width: 100px; height: 100px;">
                <p>Precio: €5.00</p>
                <button onclick="addToCart('Magnesio', 5.00)">Añadir al carrito</button>
            </div>
        </div>
    
        <div id="bebe" class="tab-content" style="display:none;">
            <h2>Bebé</h2>
            <p>Bienvenido a la sección de bebés. Aquí encontrarás una variedad de productos para el cuidado de tu bebé.</p>
            <!-- Productos de Bebé -->
            <div class="product">
                <h3>Potitos</h3>
                <img src="{{ url_for('static', filename='img/bebe.jpg') }}" alt="Producto 1" style="width: 100px; height: 100px;">
                <p>Precio: €8.00</p>
                <button onclick="addToCart('Potitos', 8.00)">Añadir al carrito</button>
            </div>
            <div class="product">
                <h3>Pañales</h3>
                <img src="{{ url_for('static', filename='img/pañal.jpg') }}" alt="Producto 2" style="width: 100px; height: 100px;">
                <p>Precio: €10.00</p>
                <button onclick="addToCart('Pañales', 10.00)">Añadir al carrito</button>
            </div>
        </div>
    </section>
    

    <script>
        function showTab(tabName) {
            var i;
            var x = document.getElementsByClassName("tab-content");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            document.getElementById(tabName).style.display = "block";
        }

        // Aquí muestra la sección de bienvenida por defecto
        document.addEventListener("DOMContentLoaded", function() {
            showTab('bienvenida');
        });
    </script>
</body>
</html>
